<h1>Unregistered Photos</h1>

<% if @image.blank? %>
  <%= "No photo unregistered" %>
<% else %>
  <%= form_for @unregistered_photo do |f| %>
    <% if @unregistered_photo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@unregistered_photo.errors.count, "error") %> prohibited this unregistered photo from being saved:</h2>

        <ul>
        <% @unregistered_photo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.label :event %><br />      
      <%= f.select :event, @events %>
    </p>
    <p>
      <%= f.label :member %><br />
      <% @members.each do |member|%>
        <div><%= check_box_tag 'unregistered_photo[member][]', member %><%= label_tag 'unregistered_photo[member][]', member %></div>
      <% end %>
    </p>
    <p>
      <%= f.label :label %><br />
      <%= f.text_field :label %>
    </p>
    <p>
      <%= f.label :date %><br />    
      <%= f.date_select :date, :order => [:day, :month, :year], :use_month_numbers => true, :start_year => 1955, :field_name => :date %>
    </p>
    <p>
      <%= f.label :image %><br />
      <%= f.hidden_field :image, :value => @image %>
      <%= image_tag "/system/unregistered_photos/#{@image}" %>
    </p>
    <p><%= f.submit %></p>
  <% end %>
<% end%>


