<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @photo.label %>
</p>

<%= image_tag @photo.image.url(:large) %>

<%= link_to 'Edit', edit_gallery_photo_path(@gallery, @photo) %> |
<%= link_to 'Back', gallery_path(@gallery) %>
